
    .about-page-gridbox{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(510px,1fr));
        justify-items: center;
    }

    .about-content{
        height: 510px;
        width: 510px;
        background:yellow ;
    }
