.application-form{
    display: grid;
    grid-gap: 10px;
    
}
.notosans{
    font-family: 'Noto Sans', sans-serif;
}


@media (min-width:600px){
    .application-form{
                grid-template-columns: repeat(2,1fr);
    }
    
}
@media (min-width:900px){
    .application-form{
                grid-template-columns: repeat(3,1fr);
    }
    
}