.gideon-roman{
    font-family: 'Gideon Roman', cursive;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.playfair-800{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}
.oleoscript{

    font-family: 'Oleo Script', cursive;
}

