{{>header}}
        <!-- thisfdjk -->
        <div class="p-4 h-100 contact-page container">
            <h2 class="text-capitalize fw-bold poppins text-secondary">About Us</h2>
            <div class="row ">
                <div class="about-page-gridbox  mt-5">
                    <div class="contact-page-griditem border ">
                        <div class="about-content">

                        </div>
                    </div>
                    <div class="contact-page-griditem border ">
                         <div class="about-content">

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
       {{>footer}}