{{>header}}
<!-- thisfdjk -->
<div class="p-4 h-100 contact-page container">
    <h2 class="text-capitalize fw-bold poppins text-secondary">About Us</h2>
    <div class="row ">
        <div class="about-us-content p-4 mt-3">
            <h3 class="playfair-800 text-center mb-3">Mission</h3>
            <p class="text-center ">
                {{!-- <span class="fs-2">"</span> --}}
                Starland Academy aims to develop responsible citizens
                and leaders
                by providing an international education, rooted in its Indian heritage and values, for diverse group of
                students, especially from families in rural or semi urban areas. Students with excellent academic
                programs. Stimulating curriculum and a supportive environment. A private yet affordable elementary
                school.
                {{!-- <span class="m-0 p-0 fs-2">"</span> --}}
            </p>
        </div>
        <div class="container-fluid">
            <div class="grid-container-aboutus">
                <div class="">
                    <div class="about-image overflow-hidden rounded">
                        <img src="images/profile.jpg" alt="">
                    </div>
                </div>
                <div class="">
                    <div class="about-text">
                        <h3 class="playfair-800 font-color-3">Debanjan Roy</h3>
                        <h5 class="font-color-2 poppins">Director And CEO</h5>
                        <p>A school aim is to provide an enabling environment that helps nurture and develop every
                            child’s
                            unique talent and potential to the fullest.we believe that education must help children to
                            excel
                            holistically across academic , sports, arts and co-curricular pursuits, while ensuring their
                            safety and well-being. At Indore International School school these tenets are central to our
                            philosophy and inspire us in everything that we do.It is our school endeavor to provide
                            children
                            with opportunities to learn in multidimensional ways and explore the limitless possibilities
                            in
                            their quest for knowledge since inception, our overreaching goal is to make Indore
                            International
                            School School a happy school where teaching is a pleasure and learning is a joy, where
                            learning
                            and excelling is a passion, and culture and values have a pre-eminent place. Our caring and
                            committed teachers are our pillars of strength. they teach our children not just with their
                            mind
                            but with their hearts, making learning enjoyable and rewarding and instilling in children
                            sound
                            values and attributes.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
{{>footer}}