{{>header}}
        <!-- form -->
        <div class="row py-2">
            <div class="h-100 w-75 mx-auto">
                <h4 class="fw-bold notosans text-center py-3">Online Admission Form</h4>
                <form action="/application" method="post">
                    <!-- section -->
                    <h6 class="notosans text-center color-3 rounded py-2 my-2 text-light ">Personal Information</h6>
                    <div class="application-form pb-2">
                        <div class="application-info">
                            <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                            <input class="w-100 rounded  p-2 text-capitalize px-3 border border-2"
                                placeholder="Enter your First Name" type="text" name="firstname">
                        </div>
                        <div class="application-info">
                            <label class="d-block my-1 fw-bold text-secondary" for="">Last Name</label>
                            <input class="w-100 rounded  p-2 text-capitalize px-3 border border-2"
                                placeholder="Enter your First Name" type="text" name="lastname">
                        </div>
                        <div class="application-info">
                            <label class="d-block my-1 fw-bold text-secondary" for="">Father Name</label>
                            <input class="w-100 rounded  p-2 text-capitalize px-3 border border-2"
                                placeholder="Enter your First Name" type="text" name="fathername">
                        </div>
                        <div class="application-info">
                            <label class="d-block my-1 fw-bold text-secondary" for="">Mother Name</label>
                            <input class="w-100 rounded  p-2 text-capitalize px-3 border border-2"
                                placeholder="Enter your First Name" type="text" name="mothername">
                        </div>
                        <div class="application-info">
                            <label class="d-block my-1 fw-bold text-secondary" for="">DOB</label>
                            <input class="w-100 rounded  p-2 text-uppercase px-3 border border-2"
                                placeholder="Enter your First Name" type="date" name="dateofbirth">
                        </div>
                        <div class="application-info">
                            <label class="d-block my-1 fw-bold text-secondary" for="">Birth Place</label>
                            <input class="w-100 rounded  p-2 text-capitalize px-3 border border-2"
                                placeholder="Enter your First Name" type="text" name="birthplace">
                        </div>
                        <div class="application-info">
                            <label class="d-block my-1 fw-bold text-secondary" for="">Aadhaar No</label>
                            <input class="w-100 rounded  p-2 text-capitalize px-3 border border-2"
                                placeholder="Enter your Aadhaar Number " type="text" name="aadhaar">
                        </div>
                        
                    </div>
                    <!-- section -->
                    <h6 class="notosans text-center color-3 rounded py-2 my-2 text-light ">Education Details</h6>
                    <div class="application-form pb-2">
                       
                        <div class="application-info">
                            <label class="d-block my-1 fw-bold text-secondary" for="">College / School</label>
                            <input class="w-100 rounded p-2 text-capitalize px-3 border border-2"
                                placeholder="Enter your First Name" type="text" name="school">
                        </div>
                        <div class="application-info">
                            <label class="d-block my-1 fw-bold text-secondary" for="">Class</label>
                            <input class="w-100 rounded p-2 text-capitalize px-3 border border-2"
                                placeholder="Enter your First Name" type="text" name="classname">
                        </div>
                        <div class="application-info">
                            <label class="d-block my-1 fw-bold text-secondary" for="">Tc No</label>
                            <input class="w-100 rounded p-2 text-capitalize px-3 border border-2"
                                placeholder="Enter your First Name" type="text" name="tc">
                        </div>
                        <div class="application-info">
                            <label class="d-block my-1 fw-bold text-secondary" for="">Place</label>
                            <input class="w-100 rounded p-2 text-capitalize px-3 border border-2"
                                placeholder="Enter your First Name" type="text" name="schoolplace">
                        </div>
                       
                    </div>
                    <!-- section -->
                    <h6 class="notosans text-center color-3 rounded py-2 my-2 text-light ">Contact Details</h6>
                    <div class="application-form pb-2">
                        <div class="application-info">
                            <label class="d-block my-1 fw-bold text-secondary" for="">Contact No.</label>
                            <input class="w-100 rounded p-2 text-capitalize px-3 border border-2"
                                placeholder="Enter your First Name" type="number" name="contactno">
                        </div>
                        <div class="application-info">
                            <label class="d-block my-1 fw-bold text-secondary" for="">Alternative No.</label>
                            <input class="w-100 rounded p-2 text-capitalize px-3 border border-2"
                                placeholder="Enter your First Name" type="number" name="alternatno">
                        </div>
                        <div class="application-info">
                            <label class="d-block my-1 fw-bold text-secondary" for="">Email Id</label>
                            <input class="w-100 rounded p-2 text-capitalize px-3 border border-2"
                                placeholder="Enter your First Name" type="email" name="email">
                        </div>
                        
                        <div class="application-info">
                            <label class="d-block my-1 fw-bold text-secondary" for="">District</label>
                            <input class="w-100 rounded p-2 text-capitalize px-3 border border-2"
                                placeholder="Enter your First Name" type="text" name="district">
                        </div>
                        <div class="application-info address">
                            <label class="d-block my-1 fw-bold text-secondary" for="">Address</label>
                            <input class="w-100 rounded p-2 text-capitalize px-3 border border-2"
                                placeholder="Enter your First Name" type="text" name="address">
                        </div>
                        
                        
                    </div>
                    <!-- section -->
                    <div class="d-flex">
                        <button class="mt-2 outline-0 border-0 poppins text-light p-2 px-5 mx-auto rounded color-2" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- form -->
{{>footer}}