{{>header}}
        <div class="p-4 h-100 contact-page">
            <h2 class="text-capitalize fw-bold poppins text-secondary">contact us</h2>
            <div class="row ">
                <div class="contact-page-gridbox  mt-5">
                    <div class="contact-page-griditem p-2">
                        <div class="bg-white d-flex flex-column justify-content-center h-100 w-100 ">
                            <div class="d-flex mb-4">
                                <i class="mx-2 fa-sharp fa-solid fa-phone text-light rounded color-3  p-4 fs-2"></i>
                                <div class="p-2 d-flex flex-column justify-content-center">
                                    <h5 class="text-secondary">+91 6261452510</h5>
                                    <h5 class="text-secondary">0731 545852</h5>
                                </div>
                            </div>
                            <div class="d-flex mb-4">
                                <i
                                    class="mx-2 fa-sharp fa-solid fa-envelope text-light rounded color-3  p-4 fs-2"></i>
                                <div class="p-2 d-flex flex-column justify-content-center">
                                    <h5 class="text-secondary">+91 6261452510</h5>
                                    <h5 class="text-secondary">0731 545852</h5>
                                </div>
                            </div>
                            <div class="d-flex mb-4">
                                <i
                                    class="mx-2 fa-sharp fa-solid fa-location-dot text-light rounded color-3 p-4  fs-1"></i>
                                <div class="p-2 d-flex flex-column justify-content-center">
                                    <h5 class="text-secondary">+91 6261452510</h5>
                                    <h5 class="text-secondary">0731 545852</h5>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="contact-page-griditem p-2 d-flex justify-content-center align-items-center">
                        <div class="p-3 bg-white h-100 w-100 shadow-lg">
                            <form class=" h-100" action="">
                                <div class="d-flex">
                                    <div class="w-50 me-1">
                                        <label class="d-block mb-2 poppins" for="name">Name</label>
                                        <input class="p-2  border border-2  rounded w-100" placeholder="Name" type="text" name="name">
                                    </div>
                                    <div class="w-50">
                                        <label class="d-block mb-2 poppins" for="Contact">Contact</label>
                                        <input class="p-2  border border-2 rounded w-100" placeholder="contact" type="text" name="Contact">
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="w-50 me-1">
                                        <label class="d-block mb-2 poppins" for="name">E-mail</label>
                                        <input class="p-2  border border-2 rounded w-100" placeholder="Email" type="text" name="name">
                                    </div>
                                    <div class="w-50">
                                        <label class="d-block mb-2 poppins" for="Contact">Subject</label>
                                        <input class="p-2  border border-2 rounded w-100" placeholder="Subject" type="text" name="Contact">
                                    </div>
                                </div>
                                <div class="d-flex ">
                                    <div class="w-100 h-50 me-1">
                                        <label class="d-block mb-2 poppins" for="name">Massege</label>
                                        <textarea class="message-box p-2 border border-2 rounded w-100" name="massage" id="" cols="30" rows="10" placeholder="Type Your Massage"></textarea>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <button class="border-0 p-2 px-5 mx-auto mt-4 rounded  text-light color-2 poppins">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}