{{>sidebar}}
{{!-- main body part starting from here --}}
<div class="admin-panel-body">
    <div class="box h-100 w-100 ">
        <div class="container-fluid">
            <div class="row w-100 m-md-0">
                <div class="col-12 pb-3">
                    <h4 class="">Welcome to Dashboard 👋</h4>
                </div>
                {{>useroption}}
                {{!-- main page changable content --}}
                <div class="overview-grid mt-3 col d-grid">
                    <div class="shadow-custom d-flex p-md-3 p-2">
                        <div class=" h-100 d-flex align-items-center">
                            <div class="icon-box d-flex align-items-center justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                    fill="none" stroke="#ff0000" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </div>
                        </div>
                        <div class="h-100">
                            <div class="h-100 text-box  d-flex flex-column justify-content-center   ">
                                <h5 class="m-0">Student</h5>
                                <h1>255352</h1>
                            </div>

                        </div>
                    </div>
                    <div class="shadow-custom d-flex p-md-3 p-2">
                        <div class=" h-100 d-flex align-items-center">
                            <div class="light-yellow-bg icon-box d-flex align-items-center justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                    fill="none" stroke="#ffb703" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </div>
                        </div>
                        <div class="h-100">
                            <div class="h-100 text-box d-flex flex-column justify-content-center   ">
                                <h5 class="m-0">Student</h5>
                                <h1>352</h1>
                            </div>

                        </div>
                    </div>
                    <div class="shadow-custom d-flex p-md-3 p-2">
                        <div class=" h-100  d-flex align-items-center">
                            <div class="light-blue-bg icon-box d-flex align-items-center justify-content-center">
                                <svg class="" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                    viewBox="0 0 24 24" fill="none" stroke="#0000ff" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </div>
                        </div>
                        <div class="h-100">
                            <div class="h-100 text-box d-flex flex-column justify-content-center   ">
                                <h5 class="m-0">Student</h5>
                                <h1>352</h1>
                            </div>

                        </div>
                    </div>




                    <div class="overflow-hidden">
                        <div class="row p-2 py-3 m-0 border-custom">
                            <h6 class="m-0">Addmission Form</h6>
                        </div>
                        <div class="h-75   p-0 m-0 addmission-form-list bg">
                            {{!-- student --}}
                            {{#each formarray}}
                            <div class="comment">
                                <div class="p-2 d-flex border-custom ">
                                    <div class="ms-3 form-image overflow-hidden ">
                                        <img src="images/profile.jpg" alt="">
                                    </div>
                                    <div class="name-class col-3 ps-4">
                                        <h6 class="m-0"> {{firstname }}</h6>
                                        <p class="m-0 fs-8 fw-bold text-secondary">{{classname}}<sup
                                                class="text-secondary">th</sup>
                                        </p>
                                    </div>
                                    <div class="data ps-4 d-none d-md-block">
                                        <h6 class="m-0 text-secondary">Cyb62614525@gmail.com</h6>

                                    </div>
                                    <div class="ms-auto pe-3 d-flex admission-form-button">
                                        <a class="fs-8 m-auto btn btn-primary" href=""> View Details</a>
                                    </div>
                                </div>
                            </div>
                            {{/each}}

                            {{!-- student --}}
                        </div>

                    </div>
                </div>
                <div class="new-query shadow-sm p-1 p-0 mt-3">
                    <!-- query -->
                    <div class="p-1 query mb-1  rounded ">
                        <div class="d-flex">
                            <div>
                                <div
                                    class="query-image-box d-flex fw-bold text-secondary justify-content-center align-items-center">
                                    A
                                </div>
                            </div>
                            <div>
                                <span class="ps-2">Anshika Shrivas</span>
                                <h6 class="ps-2 m-0 fs-small fs-small">Online Admission</h6>
                                <a class="ps-2 text-primery fs-small" href="">Read More
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                            viewBox="0 0 24 24" fill="none" stroke="#0d6efd" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-chevron-right">
                                            <polyline points="9 18 15 12 9 6"></polyline>
                                        </svg>

                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- query -->
                    <!-- query -->
                    <div class="p-1 query mb-1 rounded">
                        <div class="d-flex">
                            <div>
                                <div
                                    class="query-image-box d-flex fw-bold text-secondary justify-content-center align-items-center">
                                    S
                                </div>
                            </div>
                            <div>
                                <span class="ps-2">Smita Singh</span>
                                <h6 class="ps-2 m-0 fs-small">Fee Regarding</h6>
                                <a class="ps-2 text-primery fs-small" href="">Read More
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                            viewBox="0 0 24 24" fill="none" stroke="#0d6efd" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-chevron-right">
                                            <polyline points="9 18 15 12 9 6"></polyline>
                                        </svg>

                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- query -->
                    <!-- query -->
                    <div class="p-1 query mb-1 rounded">
                        <div class="d-flex">
                            <div>
                                <div
                                    class="query-image-box d-flex fw-bold text-secondary justify-content-center align-items-center">
                                    K
                                </div>
                            </div>
                            <div>
                                <span class="ps-2">Kavita Singh</span>
                                <h6 class="ps-2 m-0 fs-small">Fees issue</h6>
                                <a class="ps-2 text-primery fs-small " href="">Read More
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                            viewBox="0 0 24 24" fill="none" stroke="#0d6efd" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-chevron-right">
                                            <polyline points="9 18 15 12 9 6"></polyline>
                                        </svg>

                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- query -->
                </div>
                {{!-- main page changable content --}}


                {{>dashboardFooter}}