{{>sidebar}}
{{!-- main body part starting from here --}}
<div class="admin-panel-body">
    <div class="box h-100 w-100 ">
        <div class="container-fluid">
            <div class="row w-100 m-md-0">
                <div class="col-12 pb-3">
                    <h4 class="">Welcome to Dashboard 👋</h4>
                </div>
              {{>useroption}}
              {{!-- main page changable content --}}
                <div class="overview-grid mt-3 col d-grid">
                    <div class="shadow-custom d-flex p-md-3 p-2">
                        <div class=" h-100 d-flex align-items-center">
                            <div class="icon-box d-flex align-items-center justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                    fill="none" stroke="#ff0000" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </div>
                        </div>
                        <div class="h-100">
                            <div class="h-100 text-box  d-flex flex-column justify-content-center   ">
                                <h5 class="m-0">Student</h5>
                                <h1>255352</h1>
                            </div>
                            
                        </div>
                    </div>
                    <div class="shadow-custom d-flex p-md-3 p-2">
                        <div class=" h-100 d-flex align-items-center">
                            <div class="light-yellow-bg icon-box d-flex align-items-center justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                    fill="none" stroke="#ffb703" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </div>
                        </div>
                        <div class="h-100">
                            <div class="h-100 text-box d-flex flex-column justify-content-center   ">
                                <h5 class="m-0">Student</h5>
                                <h1>352</h1>
                            </div>
                            
                        </div>
                    </div>
                    <div class="shadow-custom d-flex p-md-3 p-2">
                        <div class=" h-100  d-flex align-items-center">
                            <div class="light-blue-bg icon-box d-flex align-items-center justify-content-center">
                                <svg class="" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                    fill="none" stroke="#0000ff" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </div>
                        </div>
                        <div class="h-100">
                            <div class="h-100 text-box d-flex flex-column justify-content-center   ">
                                <h5 class="m-0">Student</h5>
                                <h1>352</h1>
                            </div>
                            
                        </div>
                    </div>
                   
                   


                    <div class="  addmission-form-list ">
                        <div class="row ">
                            <h6>Admission Form</h6>
                           
                            <div class=" student-list  rounded mb-1 col-12 d-flex p-2 align-items-center">
                                <div class="student-image-box">
                                    <img src="images/profile.jpg" alt="">
                                </div>
                                <h6 class="m-0 ps-3">Aman Verma sdsd</h6>
                                <h6 class="m-0 ps-5 d-none d-md-block">amanverma@gmail.com</h6>
                                <div class="ms-auto d-flex justify-content-end align-items-center">
                                    <button class="rounded border-0 p-2 ms-2 px-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="#ffb703" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                            <circle cx="12" cy="12" r="3"></circle>
                                        </svg>
                                    </button>
                                    <button class="rounded border-0 p-2 ms-2 px-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="#ff0000" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-trash">
                                            <polyline points="3 6 5 6 21 6"></polyline>
                                            <path
                                                d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                            </path>
                                        </svg>

                                    </button>
                                    <button class="rounded border-0 p-2 ms-2 px-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="#40916c" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-user-plus">
                                            <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="8.5" cy="7" r="4"></circle>
                                            <line x1="20" y1="8" x2="20" y2="14"></line>
                                            <line x1="23" y1="11" x2="17" y2="11"></line>
                                        </svg>

                                    </button>
                                </div>
                            </div>
                            <div class=" student-list  rounded mb-1 col-12 d-flex p-2 align-items-center">
                                <div class="student-image-box">
                                    <img src="images/profile.jpg" alt="">
                                </div>
                                <h6 class="m-0 ps-3">Aman Verma sdsd</h6>
                                <h6 class="m-0 ps-5 d-none d-md-block">amanverma@gmail.com</h6>
                                <div class="ms-auto d-flex justify-content-end align-items-center">
                                    <button class="rounded border-0 p-2 ms-2 px-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="#ffb703" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                            <circle cx="12" cy="12" r="3"></circle>
                                        </svg>
                                    </button>
                                    <button class="rounded border-0 p-2 ms-2 px-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="#ff0000" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-trash">
                                            <polyline points="3 6 5 6 21 6"></polyline>
                                            <path
                                                d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                            </path>
                                        </svg>

                                    </button>
                                    <button class="rounded border-0 p-2 ms-2 px-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="#40916c" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-user-plus">
                                            <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="8.5" cy="7" r="4"></circle>
                                            <line x1="20" y1="8" x2="20" y2="14"></line>
                                            <line x1="23" y1="11" x2="17" y2="11"></line>
                                        </svg>

                                    </button>
                                </div>
                            </div>
                            <div class=" student-list  rounded mb-1 col-12 d-flex p-2 align-items-center">
                                <div class="student-image-box">
                                    <img src="images/profile.jpg" alt="">
                                </div>
                                <h6 class="m-0 ps-3">Aman Verma sdsd</h6>
                                <h6 class="m-0 ps-5 d-none d-md-block">amanverma@gmail.com</h6>
                                <div class="ms-auto d-flex justify-content-end align-items-center">
                                    <button class="rounded border-0 p-2 ms-2 px-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="#ffb703" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                            <circle cx="12" cy="12" r="3"></circle>
                                        </svg>
                                    </button>
                                    <button class="rounded border-0 p-2 ms-2 px-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="#ff0000" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-trash">
                                            <polyline points="3 6 5 6 21 6"></polyline>
                                            <path
                                                d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                            </path>
                                        </svg>

                                    </button>
                                    <button class="rounded border-0 p-2 ms-2 px-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="#40916c" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-user-plus">
                                            <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="8.5" cy="7" r="4"></circle>
                                            <line x1="20" y1="8" x2="20" y2="14"></line>
                                            <line x1="23" y1="11" x2="17" y2="11"></line>
                                        </svg>

                                    </button>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>
                <div class="new-query shadow-sm p-1 p-0 mt-3">
                    <!-- query -->
                    <div class="p-1 query mb-1  rounded ">
                        <div class="d-flex">
                            <div>
                                <div
                                    class="query-image-box d-flex fw-bold text-secondary justify-content-center align-items-center">
                                    A
                                </div>
                            </div>
                            <div>
                                <span class="ps-2">Anshika Shrivas</span>
                                <h6 class="ps-2 m-0 fs-small fs-small">Online Admission</h6>
                                <a class="ps-2 text-primery fs-small" href="">Read More
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                            viewBox="0 0 24 24" fill="none" stroke="#0d6efd" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-chevron-right">
                                            <polyline points="9 18 15 12 9 6"></polyline>
                                        </svg>

                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- query -->
                    <!-- query -->
                    <div class="p-1 query mb-1 rounded">
                        <div class="d-flex">
                            <div>
                                <div
                                    class="query-image-box d-flex fw-bold text-secondary justify-content-center align-items-center">
                                    S
                                </div>
                            </div>
                            <div>
                                <span class="ps-2">Smita Singh</span>
                                <h6 class="ps-2 m-0 fs-small">Fee Regarding</h6>
                                <a class="ps-2 text-primery fs-small" href="">Read More
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                            viewBox="0 0 24 24" fill="none" stroke="#0d6efd" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-chevron-right">
                                            <polyline points="9 18 15 12 9 6"></polyline>
                                        </svg>

                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- query -->
                    <!-- query -->
                    <div class="p-1 query mb-1 rounded">
                        <div class="d-flex">
                            <div>
                                <div
                                    class="query-image-box d-flex fw-bold text-secondary justify-content-center align-items-center">
                                    K
                                </div>
                            </div>
                            <div>
                                <span class="ps-2">Kavita Singh</span>
                                <h6 class="ps-2 m-0 fs-small">Fees issue</h6>
                                <a class="ps-2 text-primery fs-small " href="">Read More
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                            viewBox="0 0 24 24" fill="none" stroke="#0d6efd" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-chevron-right">
                                            <polyline points="9 18 15 12 9 6"></polyline>
                                        </svg>

                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- query -->
                </div>
              {{!-- main page changable content --}}


{{>dashboardFooter}}