{{>header}}
<div class="row py-2">
    <div class="h-100 w-75 mx-auto">
        <h4 class="fw-bold notosans text-center py-3">Faculty Registration Form</h4>
        <form action="">
            <!-- section -->
            <h6 class="notosans text-center bg-dark py-2 my-2 text-light ">Personal Information</h6>
            <div class="application-form pb-2">
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
            </div>
            <!-- section -->
            <h6 class="notosans text-center bg-dark py-2 my-2 text-light ">Education Details</h6>
            <div class="application-form pb-2">
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
            </div>
            <!-- section -->
            <h6 class="notosans text-center bg-dark py-2 my-2 text-light ">Contact Details</h6>
            <div class="application-form pb-2">
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
            </div>
            <!-- section -->
            <div class="d-flex">
                <button class="mt-2 outline-0 border-0 bg-dark poppins text-light p-2 px-5 mx-auto"
                    type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{{>footer}}