{{>header}}
<div class="row py-2">
    <div class="h-100 form-width mx-auto">
        <h4 class="fw-bold notosans text-center py-3">Faculty Registration Form</h4>
        <form action="">
            <!-- section -->
            <h6 class="notosans text-center color-3 py-2 my-2 text-light rounded">Personal Information</h6>
            <div class="application-form pb-2">
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">First Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">Last Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="lastname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">Father Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="fathername">
                </div>
                
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">Mother Name</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">Date of Birth</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="date" name="dateofbirth">
                </div>
               
            </div>
            <!-- section -->
            <h6 class="notosans text-center color-3 py-2 my-2 text-light rounded ">Education Details</h6>
            <div class="application-form pb-2">
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">Previes Qualification</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">College/ University</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">Complition Year</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="firstname">
                </div>
               
            </div>
            <!-- section -->
            <h6 class="notosans text-center color-3 py-2 my-2 text-light rounded ">Communication Details</h6>
            <div class="application-form pb-2">
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">Contact No</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="number" name="contactone">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">Alternative No</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="text" name="contacttwo">
                </div>
                <div class="application-info">
                    <label class="d-block my-1 fw-bold text-secondary" for="">Email Id</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="email" name="email">
                </div>
                <div class="application-info address">
                    <label class="d-block my-1 fw-bold text-secondary" for="">Address</label>
                    <input class="w-100 p-2 text-capitalize px-3 border border-2" placeholder="Enter your First Name"
                        type="textarea" name="firstname">
                </div>
                
            </div>
            <!-- section -->
            <div class="d-flex">
                <button class="mt-2 outline-0 border-0 poppins text-light p-2 px-5 mx-auto rounded color-2"
                    type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{{>footer}}