{{>header}}
<div class="row pt-4">
    <div class="col">
        <div class="college-profile p-2">
            <div class="college-image rounded d-flex justify-content-center align-items-center">
                {{!-- <img src="images/campus.jpg" alt=""> --}}
                <div class="overlay p-4 d-flex flex-column justify-content-center">
                    <h4 class="display-4 text-light kaushan">Welcome to</h4>
                    <h4 class="display-4 text-light kaushan">Starland Academy</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-info-row p-2">
    <div class="cards ">
        <div class="box-card rounded d-flex align-items-center justify-content-start border-0 ">
            <i class="mx-2 rounded fa-sharp fa-solid fa-phone text-light color-1 p-4 fs-2"></i>
            <div class="p-1">
                <h6 class="pb-2 fw-bold poppins text-secondary">+91 9907943852</h6>
                <h6 class="pb-2 fw-bold poppins text-secondary">+91 6261452510</h6>
            </div>
        </div>
        <div class="box-card rounded d-none d-md-flex align-items-center justify-content-start border-0">
            <i class="mx-2 rounded fa-sharp fa-solid fa-envelope text-light color-1 p-4 fs-2"></i>
            <div class="p-1">
                <h6 class="pb-2 fw-bold poppins text-secondary">starlandacademy@gmail.com</h6>
                <h6 class="pb-2 fw-bold poppins text-secondary">support@starlandacademy.com</h6>
            </div>
        </div>
        <div class="box-card  rounded d-flex align-items-center justify-content-start border-0">
            <i class="mx-2 rounded fa-sharp fa-solid fa-location-dot text-light color-1 p-4 fs-2"></i>
            <div class="p-1">
                <h6 class="fw-bold poppins text-secondary">Bicholi Mardana indore madhya pradesh indore-452001</h6>
            </div>
        </div>

    </div>
</div>
{{!-- notification-and-student-login --}}
<div class="row p-4">
    <div class="container-fluid">
        <div class="homepage-gridlayout">
            <div class="homepage-gridlayout-items">
                <div class="content-box h-100 w-100 p-3">
                    <h1 class="text-end text-light fs-1">45</h1>
                    <h1 class="text-light">Students</h1>
                    <p class="fs-3 text-light" style="text-decoration: underline;">Events</p>
                </div>
            </div>
            <div class="homepage-gridlayout-items">
                <div class="content-box h-100 w-100 p-3">
                    <h1 class="text-end text-light fs-1">45</h1>
                    <h1 class="text-light">Teachers</h1>
                    <p class="fs-3 text-light" style="text-decoration: underline;">Events</p>
                </div>
            </div>
            <div class="homepage-gridlayout-items">
                <div class="content-box h-100 w-100 p-3">
                    <h1 class="text-end text-light fs-1">45</h1>
                    <h1 class="text-light">Management</h1>
                    <p class="fs-3 text-light" style="text-decoration: underline;">Events</p>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- new container --}}
<div class="row p-4">
    <div class="container-fluid">
        <div class="grid-area">
            <div class="section">
                <h4 class="fw-bold text-secondary poppins">EDUCATION IS THE MOST
                    <br>
                    POWERFULL WEAPON
                </h4>
                <p class="text-secondary">
                    Our students are talented, hard-working and full of good ideas. We encourage and empower them to
                    bring their ideas to life. Hands-on opportunities are what we're all about. Our students are busy
                    doing things that matter. Take a look at the opportunities you'll have at the University. The task
                    of the modern educator is not to cut down jungles, but to irrigate deserts.
                </p>
            </div>
            <div class="section">
                <div class="illustration">
                    <img src="/images/landingpage.png" alt="">
                </div>
            </div>
        </div>
    </div>


</div>
{{!-- new container --}}

{{!-- new container --}}
<div class="row p-4 ">
    <div class="mt-3 p-3 rounded bg-dark shadow mx-auto d-flex flex-column justify-content-center align-items-center">
        <div class="afffiliation-logo m-2 rounded overflow-hidden">
            <img src="images/mpbse.jpg" alt="">
        </div>
        <div>
            <h4 class="p-0 text-light playfair-800 text-center ">Affiliated By</h4>
            <h3 class="p-0 text-light playfair-800 text-center ">Madhya Pradesh Board of Secondary Education</h3>
        </div>
    </div>
</div>
{{!-- new container --}}
{{!-- gallary content --}}
<div class="row p-4">
    <div class="container p-2 d-flex flex-column gallary-conatiner">
        <h5 class="text-center fw-bold">GALLARY</h5>
        <div class="mt-3 gallary-grid ">
            <div class="photo">
                <img src="images/school/2.jpg" alt="">
                <div class="photooverlay"></div>
            </div>
            <div class="photo">
                <img src="images/school/3.jpg" alt="">
                <div class="photooverlay"></div>
            </div>
            <div class="photo">
                <img src="images/school/4.jpg" alt="">
                <div class="photooverlay"></div>
            </div>
            <div class="photo">
                <img src="images/school/5.jpg" alt="">
                <div class="photooverlay"></div>
            </div>
            <div class="photo">
                <img src="images/school/6.jpg" alt="">
                <div class="photooverlay"></div>
            </div>
            <div class="photo">
                <img src="images/school/7.jpg" alt="">
                <div class="photooverlay"></div>
            </div>
            <div class="photo">
                <img src="images/school/8.jpg" alt="">
                <div class="photooverlay"></div>
            </div>
        </div>
    </div>
</div>
{{!-- gallary content --}}



{{!-- notification-and-student-login --}}
{{!-- details --}}
{{!-- <div class="row p-4">
    <div class="notification-area  justify-content-center ">
        <div class="grid-box bg-light rounded p-3 ">
            <h6 class="poppins fw-bold mb-3">Ltest News</h6>
            <!-- notification -->
            <div class="notification shadow rounded mb-2 p-1 bg-light d-flex">
                <div class="">
                    <div class="profile">
                    </div>
                </div>
                <div class="news">
                    <p class="p-0 m-0 text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit Illum nam
                        aperiam, temporibus libero pariatur nostrum beatae ipsam atque ab quae asperiores
                        dolorum placeat, corporis facilis voluptatem nemo minima suscipit distinctio!</p>
                </div>
            </div>
            <!-- notification -->
            <!-- notification -->
            <div class="notification shadow rounded mb-2 p-1 bg-light d-flex">
                <div class="">
                    <div class="profile">
                    </div>
                </div>
                <div class="news">
                    <p class="p-0 m-0 text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit Illum nam
                        aperiam, temporibus libero pariatur nostrum beatae ipsam atque ab quae asperiores
                        dolorum placeat, corporis facilis voluptatem nemo minima suscipit distinctio!</p>
                </div>
            </div>
            <!-- notification -->
            <!-- notification -->
            <div class="notification shadow rounded mb-2 p-1 bg-light d-flex">
                <div class="">
                    <div class="profile">
                    </div>
                </div>
                <div class="news">
                    <p class="p-0 m-0 text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit Illum nam
                        aperiam, temporibus libero pariatur nostrum beatae ipsam atque ab quae asperiores
                        dolorum placeat, corporis facilis voluptatem nemo minima suscipit distinctio!</p>
                </div>
            </div>
            <!-- notification -->
            <!-- notification -->
            <div class="notification shadow rounded mb-2 p-1 bg-light d-flex">
                <div class="">
                    <div class="profile">
                    </div>
                </div>
                <div class="news">
                    <p class="p-0 m-0 text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit Illum nam
                        aperiam, temporibus libero pariatur nostrum beatae ipsam atque ab quae asperiores
                        dolorum placeat, corporis facilis voluptatem nemo minima suscipit distinctio!</p>
                </div>
            </div>
            <!-- notification -->
            <!-- notification -->
            <div class="notification shadow rounded mb-2 p-1 bg-light d-flex">
                <div class="">
                    <div class="profile">
                    </div>
                </div>
                <div class="news">
                    <p class="p-0 m-0 text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit Illum nam
                        aperiam, temporibus libero pariatur nostrum beatae ipsam atque ab quae asperiores
                        dolorum placeat, corporis facilis voluptatem nemo minima suscipit distinctio!</p>
                </div>
            </div>
            <!-- notification -->
            <!-- notification -->
            <div class="notification shadow rounded mb-2 p-1 bg-light d-flex">
                <div class="">
                    <div class="profile">
                    </div>
                </div>
                <div class="news">
                    <p class="p-0 m-0 text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit Illum nam
                        aperiam, temporibus libero pariatur nostrum beatae ipsam atque ab quae asperiores
                        dolorum placeat, corporis facilis voluptatem nemo minima suscipit distinctio!</p>
                </div>
            </div>
            <!-- notification -->
            <!-- notification -->
            <div class="notification shadow rounded mb-2 p-1 bg-light d-flex">
                <div class="">
                    <div class="profile">
                    </div>
                </div>
                <div class="news">
                    <p class="p-0 m-0 text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit Illum nam
                        aperiam, temporibus libero pariatur nostrum beatae ipsam atque ab quae asperiores
                        dolorum placeat, corporis facilis voluptatem nemo minima suscipit distinctio!</p>
                </div>
            </div>
            <!-- notification -->

        </div>
        <div class="grid-box rounded overflow-hidden p-3 pt-0 px-0 d-flex student-login flex-column">
            <h6 class="text-center mb-4 poppins fw-bold py-3 color-1 text-light">Login system</h6>
            <form class="d-flex flex-column" action="" method="post">
                <label Class="mb-3 mx-3 fw-bold" for="email">Email</label>
                <input class="mb-3 bg-light mx-3 p-2 rounded " placeholder="Enter Your Email" name="email" type="text">
                <label class="mb-3 mx-3 fw-bold" for="password">Password</label>
                <input class="mb-3 bg-light mx-3 p-2 rounded " placeholder="Enter Your Password" name="password"
                    type="password">
                <a class="mb-1 mx-3" href="">Forgot Password</a>
                <a class="mb-1 mx-3" href="">Register</a>
                <button class="mt-2 outline-0 border-0 color-2 rounded poppins text-light p-2"
                    type="submit">Login</button>
            </form>
        </div>

    </div>
</div> --}}
{{!-- details --}}
{{>footer}}