{{>header}}
        <div class="row pt-4">
            <div class="col">
                <div class="college-profile p-2">
                    <div class="college-image rounded d-flex justify-content-center align-items-center">
                        <img src="images/campus.jpg" alt="">
                        <div class="overlay p-4 d-flex flex-column justify-content-center">
                            <h4 class="display-4 text-light kaushan">Welcome to</h4>
                            <h4 class="display-4 text-light kaushan">Star Land Academy</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-info-row p-2">
            <div class="cards ">
                <div class="box-card rounded d-flex align-items-center justify-content-start border-0 ">
                    <i class="mx-2 rounded fa-sharp fa-solid fa-phone text-light color-1 p-4 fs-2"></i>
                    <div class="p-2">
                        <h5 class="pb-2 fw-bold poppins text-secondary">+91 6261452510</h5>
                        <h5 class="pb-2 fw-bold poppins text-secondary">0731 6525457</h5>
                    </div>
                </div>
                <div class="box-card rounded d-flex align-items-center justify-content-start border-0">
                    <i class="mx-2 rounded fa-sharp fa-solid fa-envelope text-light color-1 p-4 fs-2"></i>
                    <div class="p-2">
                        <h5 class="pb-2 fw-bold poppins text-secondary">starland@gmail.com</h5>
                        <h5 class="pb-2 fw-bold poppins text-secondary">support@starland.com</h5>
                    </div>
                </div>
                <div class="box-card rounded d-flex align-items-center justify-content-start border-0">
                    <i class="mx-2 rounded fa-sharp fa-solid fa-location-dot text-light color-1 p-4 fs-2"></i>
                    <div class="p-2">
                        <h5 class="fw-bold poppins text-secondary">lorem5 Lorem ipsum dolor sit amet. Lorem </h5>
                    </div>
                </div>

            </div>
        </div>
        <div class="row p-4">
            <div class="notification-area  justify-content-center ">
                <div class="grid-box bg-light rounded p-3 ">
                    <h6 class="poppins fw-bold mb-3">Letest News</h6>
                    <!-- notification -->
                    <div class="notification shadow rounded mb-2 p-1 bg-light d-flex">
                        <div class="">
                            <div class="profile">
                            </div>
                        </div>
                        <div class="news">
                            <p class="p-0 m-0 text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit Illum nam
                                aperiam, temporibus libero pariatur nostrum beatae ipsam atque ab quae asperiores
                                dolorum placeat, corporis facilis voluptatem nemo minima suscipit distinctio!</p>
                        </div>
                    </div>
                    <!-- notification -->
                    <!-- notification -->
                    <div class="notification shadow rounded mb-2 p-1 bg-light d-flex">
                        <div class="">
                            <div class="profile">
                            </div>
                        </div>
                        <div class="news">
                            <p class="p-0 m-0 text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit Illum nam
                                aperiam, temporibus libero pariatur nostrum beatae ipsam atque ab quae asperiores
                                dolorum placeat, corporis facilis voluptatem nemo minima suscipit distinctio!</p>
                        </div>
                    </div>
                    <!-- notification -->
                    <!-- notification -->
                    <div class="notification shadow rounded mb-2 p-1 bg-light d-flex">
                        <div class="">
                            <div class="profile">
                            </div>
                        </div>
                        <div class="news">
                            <p class="p-0 m-0 text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit Illum nam
                                aperiam, temporibus libero pariatur nostrum beatae ipsam atque ab quae asperiores
                                dolorum placeat, corporis facilis voluptatem nemo minima suscipit distinctio!</p>
                        </div>
                    </div>
                    <!-- notification -->
                    <!-- notification -->
                    <div class="notification shadow rounded mb-2 p-1 bg-light d-flex">
                        <div class="">
                            <div class="profile">
                            </div>
                        </div>
                        <div class="news">
                            <p class="p-0 m-0 text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit Illum nam
                                aperiam, temporibus libero pariatur nostrum beatae ipsam atque ab quae asperiores
                                dolorum placeat, corporis facilis voluptatem nemo minima suscipit distinctio!</p>
                        </div>
                    </div>
                    <!-- notification -->
                    <!-- notification -->
                    <div class="notification shadow rounded mb-2 p-1 bg-light d-flex">
                        <div class="">
                            <div class="profile">
                            </div>
                        </div>
                        <div class="news">
                            <p class="p-0 m-0 text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit Illum nam
                                aperiam, temporibus libero pariatur nostrum beatae ipsam atque ab quae asperiores
                                dolorum placeat, corporis facilis voluptatem nemo minima suscipit distinctio!</p>
                        </div>
                    </div>
                    <!-- notification -->
                    <!-- notification -->
                    <div class="notification shadow rounded mb-2 p-1 bg-light d-flex">
                        <div class="">
                            <div class="profile">
                            </div>
                        </div>
                        <div class="news">
                            <p class="p-0 m-0 text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit Illum nam
                                aperiam, temporibus libero pariatur nostrum beatae ipsam atque ab quae asperiores
                                dolorum placeat, corporis facilis voluptatem nemo minima suscipit distinctio!</p>
                        </div>
                    </div>
                    <!-- notification -->
                    <!-- notification -->
                    <div class="notification shadow rounded mb-2 p-1 bg-light d-flex">
                        <div class="">
                            <div class="profile">
                            </div>
                        </div>
                        <div class="news">
                            <p class="p-0 m-0 text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit Illum nam
                                aperiam, temporibus libero pariatur nostrum beatae ipsam atque ab quae asperiores
                                dolorum placeat, corporis facilis voluptatem nemo minima suscipit distinctio!</p>
                        </div>
                    </div>
                    <!-- notification -->
                    
                </div>
                <div class="grid-box rounded overflow-hidden p-3 pt-0 px-0 d-flex student-login flex-column">
                    <h6 class="text-center mb-4 poppins fw-bold py-3 color-1 text-light">Login system</h6>
                    <form class="d-flex flex-column" action="" method="post">
                        <label Class="mb-3 mx-3 fw-bold" for="email">Email</label>
                        <input class="mb-3 bg-light mx-3 p-2 rounded " placeholder="Enter Your Email" name="email" type="text">
                        <label class="mb-3 mx-3 fw-bold" for="password">Password</label>
                        <input class="mb-3 bg-light mx-3 p-2 rounded " placeholder="Enter Your Password" name="password" type="password">
                        <a class="mb-1 mx-3" href="">Forgot Password</a>
                        <a class="mb-1 mx-3" href="">Register</a>
                        <button class="mt-2 outline-0 border-0 color-2 rounded poppins text-light p-2"
                            type="submit">Login</button>
                    </form>
                </div>

            </div>
        </div>
        {{>footer}}
        