{{>sidebar}}
{{!-- main body part starting from here --}}
<div class="admin-panel-body">
    <div class="box h-100 w-100 ">
        <div class="container-fluid">
            <div class="row w-100 m-0">
                <div class="col-12 pb-3">
                    <h4 class="">Student List</h4>
                </div>
              {{>useroption}}
              {{!-- main page changable content --}}
              <div class="row mt-5 p-2 mx-0">
                <div class="student-card-area">
                    <div class="custom-shadow-lg p-2 student-grid-card bg-light shadow-sm">
                        <div class="d-flex w-100 mt-3">
                            <div class="card-image-box mx-auto">

                            </div>
                        </div>
                        <div class="mt-4">
                            <h6 class="m-0 text-center">John</h6>
                            <h6 class="m-0 text-center text-secondary">Abrahim</h6>
                        </div>
                        <div class="mt-3 d-flex">
                            <a href="" class="rounded mx-auto text-capitalize px-3 fs-8 py-1 text-light bg-primary">view Details</a>
                        </div>
                        <div class="mt-3 poppins fw-bolder">
                            <h5 class="text-center">5<sup>th</sup> Class</h5>
                        </div>
                        
                    </div>
                    <div class="custom-shadow-lg student-grid-card bg-light shadow-sm">
                        
                    </div>
                    <div class="custom-shadow-lg student-grid-card bg-light shadow-sm">
                        
                    </div>
                    <div class="custom-shadow-lg student-grid-card bg-light shadow-sm">
                        
                    </div>
                    <div class="custom-shadow-lg student-grid-card bg-light shadow-sm">
                        
                    </div>
                    <div class="custom-shadow-lg student-grid-card bg-light shadow-sm">
                        
                    </div>
                    <div class="custom-shadow-lg student-grid-card bg-light shadow-sm">
                        
                    </div>
                    <div class="custom-shadow-lg student-grid-card bg-light shadow-sm">
                        
                    </div>
                </div>

              </div>
               
              {{!-- main page changable content --}}


{{>dashboardFooter}}