{{>sidebar}}
{{!-- main body part starting from here --}}
<div class="admin-panel-body">
    <div class="box h-100 w-100 ">
        <div class="container-fluid">
            <div class="row w-100 m-0">
                <div class="col-12 pb-3">
                    <h4 class="">Appliation Form 👋</h4>
                </div>
              {{>useroption}}
              {{!-- main page changable content --}}
              <div class="row border p-2">
                <div class="student-card-area">
                    <div class="student-grid-card bg-warning">
                        name
                    </div>
                    <div class="student-grid-card bg-warning">
                        name
                    </div>
                    <div class="student-grid-card bg-warning">
                        name
                    </div>
                    <div class="student-grid-card bg-warning">
                        name
                    </div>
                    <div class="student-grid-card bg-warning">
                        name
                    </div>
                    <div class="student-grid-card bg-warning">
                        name
                    </div>
                    <div class="student-grid-card bg-warning">
                        name
                    </div>
                    <div class="student-grid-card bg-warning">
                        name
                    </div>
                </div>

              </div>
               
              {{!-- main page changable content --}}


{{>dashboardFooter}}