{{!-- footer --}}
<div class="row color-3 bg-dark  mt-3">

 <!-- footer -->
        <div class="container-fluid color-3 p-0 mt-auto">
            <div class="p-2">
                <div class="container">
                    <div class="footer-grid">
                        <!-- grid items -->
                        <div class="">
                            <button
                                class="link-button p-0 w-100 text-start border-0 text-md-start text-center text-light"> Important Links
                                <ul class="link-list p-0">
                                    <li class="text-md-start text-center w-100 "> <a class="text-secondary"
                                            href="/home">Home</a> </li>
                                    <li class="text-md-start text-center w-100 "> <a class="text-secondary"
                                            href="/home">About</a> </li>
                                    <li class="text-md-start text-center w-100 "> <a class="text-secondary"
                                            href="/home">Contact</a> </li>
                                    <li class="text-md-start text-center w-100 "> <a class="text-secondary"
                                            href="/home">download</a> </li>
                                    <li class="text-md-start text-center w-100 "> <a class="text-secondary"
                                            href="/home">Academics</a> </li>
                                </ul>
                            </button>
                        </div>
                        <!-- grid items -->

                        <!-- grid items -->
                        <div class="">
                            <button
                                class="link-button p-0 w-100 text-start border-0 text-md-start text-center text-light">Student
                                <ul class="link-list p-0">
                                    <li class="text-md-start text-center w-100 "> <a class="text-secondary"
                                            href="/home">Result</a> </li>
                                    <li class="text-md-start text-center w-100 "> <a class="text-secondary"
                                            href="/home">Exam Shedule</a> </li>
                                    <li class="text-md-start text-center w-100 "> <a class="text-secondary"
                                            href="/home">Syllabus</a> </li>
                                    <li class="text-md-start text-center w-100 "> <a class="text-secondary"
                                            href="/home">Apply Online</a> </li>
                                                                    </ul>
                            </button>
                        </div>
                        <!-- grid items -->

                        <!-- grid items -->
                        <div class="">
                            <button
                                class="link-button p-0 w-100 text-start border-0 text-md-start text-center text-light">Career
                                <ul class="link-list p-0">
                                    <li class="text-md-start text-center w-100 "> <a class="text-secondary"
                                            href="/home">Home</a> </li>
                                    <li class="text-md-start text-center w-100 "> <a class="text-secondary"
                                            href="/home">About</a> </li>
                                    <li class="text-md-start text-center w-100 "> <a class="text-secondary"
                                            href="/home">Contact</a> </li>
                                    <li class="text-md-start text-center w-100 "> <a class="text-secondary"
                                            href="/home">download</a> </li>
                                    <li class="text-md-start text-center w-100 "> <a class="text-secondary"
                                            href="/home">Academics</a> </li>
                                </ul>
                            </button>
                        </div>
                        <!-- grid items -->

                       <!-- grid items -->
                        <div class="d-flex flex-column align-items-md-start align-items-center">
                            <div class="footer-logo mt-3 d-flex flex-column align-items-center align-items-md-start">
                                <div class="footerlogo">
                                    <img src="/images/logo.png" alt="">
                                </div>
                                <h6 class="text-light mt-2">Starland Academy</h6>
                            </div>
                                <h5 class="mb-3 text-md-start text-center text-secondary mt-2">Follow us</h5>
                                <ul class="link-list p-0 m-0  d-flex">
                                    <a href="/" class="text-md-start text-center w-100 footer-icons "><i class="fa-brands p-2 fs-5 fa-instagram"></i><a>
                                    <a href="/" class="text-md-start text-center w-100 footer-icons "><i class="fa-brands p-2 fs-5 fa-facebook-f"></i><a>
                                    <a href="/" class="text-md-start text-center w-100 footer-icons "><i class="fa-brands p-2 fs-5 fa-linkedin-in"></i><a>
                                    <a href="/" class="text-md-start text-center w-100 footer-icons "><i class="fa-brands p-2 fs-5 fa-youtube"></i><a>
                                </ul>
                        </div>
                        <!-- grid items -->


                    </div>
                    <div class="footer-bottom">
                        <div class="container p-0 m-0">
                            <h6 class="m-0 p-0 text-md-start text-center text-secondary">
                            © 2022 Starland Academy . All Rights Reserved.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
</div>
{{!-- footer --}}

</div>


<script src="https://kit.fontawesome.com/6977b82e81.js" crossorigin="anonymous"></script>


<div id="menubar" class="menu d-none color-1">
    <div class="row d-flex">
        <div class="ms-auto">
            <div class="close-icon d-flex justify-content-end align-items-end pt-3 pe-3">
                <button id="closemenu" class="menu-close p-2 color-2 border-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>

                </button>
            </div>
            <ul class="d-flex flex-column p-0 m-0">
                <li class="{{#if home }}bg-warning rounded {{/if}}mx-auto py-1 px-4 my-4 text-light  text-capitalize"><a
                        class="{{#if home}} text-dark  {{/if}} text-light  " href="/">home</a></li>
                <li class="{{#if about }}bg-warning rounded {{/if}}mx-auto py-1 px-4 my-4 text-light  text-capitalize">
                    <a class="{{#if about}} text-dark  {{/if}} text-light    " href="/about">About</a>
                </li>
                <li
                    class="{{#if syllabus }}bg-warning rounded {{/if}}mx-auto py-1 px-4 my-4 text-light  text-capitalize">
                    <a class="{{#if syllabus}} text-dark  {{/if}} text-light  " href="/syllabus">Syllabus</a>
                </li>
                <li
                    class="{{#if contact }}bg-warning rounded {{/if}}mx-auto py-1 px-4 my-4 text-light  text-capitalize">
                    <a class="{{#if contact}} text-dark  {{/if}} text-light    " href="/contact">Contact</a>
                </li>
                <li
                    class="{{#if application }}bg-warning rounded {{/if}}mx-auto py-1 px-4 my-4 text-light  text-capitalize">
                    <a class="{{#if application }} text-dark  {{/if}} text-light   " href="application">Apply Online</a>
                </li>
            </ul>
            <div class="d-flex mt-4">
                <a class="px-4 m-auto rounded fw-bold text-light py-2 color-2" href="/admin">Login</a>
            </div>
        </div>
    </div>
</div>
<div id="fullimage" class="fullimage d-flex justify-content-center align-items-center">
    <div class="image-box">
        <img id="imagepreview" src="" alt="">
    </div>
</div>
<script src="/js/menubar.js"></script>
<script src="/js/gallary.js"></script>

  <!-- Swiper JS -->
    <script src="slider/js/swiper-bundle.min.js"></script>

    <!-- JavaScript -->
    <script src="js/script.js"></script>
    <script src="/slider/js/script.js"></script>

</body>

</html>