<div class="row color-3  mt-4">
    <div class="footer px-4">
        <div class="row p-0 m-0">
            <div class=" text-light col-12 col-md-2 col p-2">
                <h6 class="py-2 poppins text-light text-md-start text-center">Important Links</h6>
                <ul class="p-0">
                    <li class="text-center text-md-start"><a class="text-light" href="">Home</a></li>
                    <li class="text-center text-md-start"><a class="text-light" href="">About</a></li>
                    <li class="text-center text-md-start"><a class="text-light" href="">Contact Us</a></li>
                    <li class="text-center text-md-start"><a class="text-light" href="">Apply Online</a></li>
                    <li class="text-center text-md-start"><a class="text-light" href="">About Us</a></li>
                </ul>
            </div>
            <div class=" text-light col-12 col-md-2 col p-2">
                <h6 class="py-2 poppins text-light text-md-start text-center">Important Links</h6>
                <ul class="p-0">
                    <li class="text-center text-md-start"><a class="text-light" href="">Home</a></li>
                    <li class="text-center text-md-start"><a class="text-light" href="">About</a></li>
                    <li class="text-center text-md-start"><a class="text-light" href="">Contact Us</a></li>
                    <li class="text-center text-md-start"><a class="text-light" href="">Apply Online</a></li>
                    <li class="text-center text-md-start"><a class="text-light" href="">About Us</a></li>
                </ul>
            </div>
            <div class=" text-light col-12 col-md-2 col p-2">
                <h6 class="py-2 poppins text-light text-md-start text-center">Important Links</h6>
                <ul class="p-0">
                    <li class="text-center text-md-start"><a class="text-light" href="">Home</a></li>
                    <li class="text-center text-md-start"><a class="text-light" href="">About</a></li>
                    <li class="text-center text-md-start"><a class="text-light" href="">Contact Us</a></li>
                    <li class="text-center text-md-start"><a class="text-light" href="">Apply Online</a></li>
                    <li class="text-center text-md-start"><a class="text-light" href="">About Us</a></li>
                </ul>
            </div>
            <div class=" text-light col-12 col-md-2 col p-2">
                <h6 class="py-2 poppins text-light text-md-start text-center">Career</h6>
                <ul class="p-0">
                    <li class="text-center text-md-start"><a class="text-light" href="">Become a teacher</a></li>
                    <li class="text-center text-md-start"><a class="text-light" href="">About</a></li>
                    <li class="text-center text-md-start"><a class="text-light" href="">Contact Us</a></li>
                    <li class="text-center text-md-start"><a class="text-light" href="">Apply Online</a></li>
                    <li class="text-center text-md-start"><a class="text-light" href="">About Us</a></li>
                </ul>
            </div>
            <div class=" text-light col-12 col-md-4 col p-2 d-flex flex-column">
                <div class="footer-logo d-flex  justify-content-center mb-3 m-auto">
                    <img class="" src="images/DARK LOGO.png" alt="">
                </div>
                <ul class=" list-inline d-flex justify-content-center  p-0 m-auto">
                    <li class=" list-inline-item text-center fs-5 text-md-start pe-3"><a class="text-light" href=""><i
                                class="fa-brands fa-instagram"></i></a></li>
                    <li class=" list-inline-item text-center fs-5 text-md-start pe-3"><a class="text-light" href=""><i
                                class="fa-brands fa-facebook"></i></a></li>
                    <li class=" list-inline-item text-center fs-5 text-md-start pe-3"><a class="text-light" href=""><i
                                class="fa-brands fa-youtube"></i></a></li>
                    <li class=" list-inline-item text-center fs-5 text-md-start pe-3"><a class="text-light" href=""><i
                                class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="col text-secondary px-4 py-2">
        <p class="m-0">© 2022 Starland Academy . All Rights Reserved.</p>
    </div>
</div>
</div>
<script src="https://kit.fontawesome.com/6977b82e81.js" crossorigin="anonymous"></script>
<div id="menubar" class="menu d-none color-1">
    <div class="row d-flex">
        <div class="ms-auto">
            <div class="close-icon d-flex justify-content-end align-items-end">
                <button id="closemenu" class="menu-close   bg-dark p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>

                </button>
            </div>
            <ul class="d-flex flex-column p-0 m-0">
                <li class="{{#if home }}bg-warning rounded {{/if}}mx-auto py-1 px-4 my-4 text-light  text-capitalize"><a class="{{#if home}} text-dark  {{/if}} text-light  " href="/">home</a></li>
                <li class="{{#if about }}bg-warning rounded {{/if}}mx-auto py-1 px-4 my-4 text-light  text-capitalize"><a class="{{#if about}} text-dark  {{/if}} text-light    " href="/about">About</a></li>
                <li class="{{#if syllabus }}bg-warning rounded {{/if}}mx-auto py-1 px-4 my-4 text-light  text-capitalize"><a class="{{#if syllabus}} text-dark  {{/if}} text-light  " href="/syllabus">Syllabus</a></li>
                <li class="{{#if contact }}bg-warning rounded {{/if}}mx-auto py-1 px-4 my-4 text-light  text-capitalize"><a class="{{#if contact}} text-dark  {{/if}} text-light    " href="/contact">Contact</a></li>
                <li class="{{#if application }}bg-warning rounded {{/if}}mx-auto py-1 px-4 my-4 text-light  text-capitalize"><a class="{{#if application }} text-dark  {{/if}} text-light   " href="application">Apply Online</a></li>
            </ul>
        </div>
    </div>
</div>

<script src="/js/menubar.js"></script>
</body>

</html>